<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.eszconsulting.plugins.esz-uiwebview-hack"
        version="0.3.0">

    <name>WebStart</name>

    <description>
        A few start-up tweaks for iOS
    </description>

    <author>pz / ESZ Consulting</author>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <!-- ios -->
    <platform name="ios">

        <!-- the controller loading the hack -->
        <header-file src="src/ios/WebStartMainViewController.h"/>
        <source-file src="src/ios/WebStartMainViewController.m"/>

        <!-- the class which swaps in the hacked controller -->
        <header-file src="src/ios/AppDelegate+WebStart.h"/>
        <source-file src="src/ios/AppDelegate+WebStart.m"/>

    </platform>

</plugin>
